@model int

<div  style="border-radius:15px ; border:2px solid black; background-color:lightgray;text-align:center">
      There are <strong>@Model</strong>   restaurants here. <a asp-page="/Restaurants/List"> See the all!</a>
</div>